footer {
    padding: 24px;
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    background-image: linear-gradient(#a0000093, #a00000fa);
    border-top: 2px solid #EAAB25;
}

    
